spring.application.name=jobScraper

spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=<Supabase JDBC Session Pooler url>
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=none

spring.datasource.hikari.pool-name=HikariPool
spring.datasource.hikari.maximum-pool-size=4
spring.datasource.hikari.minimum-idle=1
spring.datasource.hikari.idle-timeout=20000
spring.datasource.hikari.connection-timeout=15000